# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS 文件夹属性
Icon?
._*

# macOS 缩略图
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
